@import "./main";

$font-stack: 
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';


.content {

    text-align: justify;

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
        
    }

    h1, h2, h3, h4 {
        margin-top: 1em !important;
        margin-bottom: 0.25em !important;
    }

    h1, h3 {
        color: black;
    }

    h2, h4 {
        color: #4a4a4a !important;
    }


    .blur-container h2,
    .blur-container h4 {
        color: white !important;
        margin-top: 0 !important;
        font-weight: bold !important;
    }

    .blur-container h2 {
        font-style: normal !important;
    }

    .blur-container p {
        color: white !important;
        font-style: italic !important;
    }


    blockquote {

        h1, h2, h3, h4, h5, h6 {
            font-family: 
            'Roboto',
            $font-stack;
            text-align: center;
        }

        border-left: none;
        background-color: transparent;
        text-align: center;
        font-family: 
            'Cinzel',
            $font-stack;
        color: #111;
        font-size: 18px;
        font-style: italic;
        font-weight: lighter;
    }

    .footnote-ref {
        margin-left: -10px;
    }

    code:not(pre code) {
        background-color: #93a0b521;
        font-family: 'Fira Code', monospace, $font-stack !important;
        letter-spacing: 0.025em;
        border-radius: 5px;
        padding: 0.2em 0.5em;        
    }

    .line-numbers-rows {
        padding-top: 1.25rem;
        padding-left: 1rem;
        border: none;

        span {
            font-family: 'Fira Code', monospace, $font-stack !important;
        }
    }

    .line-numbers-rows > span:before {
        color: #ffffff42 !important;
    }

    
}

.gatsby-highlight {
    .token.parameter {
        color: rgb(255, 242, 169);
    }
}


.gatsby-code-title {
    margin-bottom: -0.6rem;
    padding: 0.5em 1em;
    font-family: 'Fira Code', monospace, $font-stack !important;
  
    background-color: #93a0b5;
    color: #3f3f3f;
    z-index: 0;
  
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}


$nest-margin: 4px;
$row-height: 27px;

.dg.main {
    height: 200px;
    @mixin button() {
        margin-left: 5px;
        margin-top: 1px;
        border-radius: 2px;
        font-size: 11px;
        line-height: 7px;
        padding: 4px 4px 5px 4px;
        background: $button-color;
        color: #fff;
        text-shadow: 0 1px 0 darken($button-color, 10%);
        box-shadow: 0 -1px 0 darken($button-color, 10%);
        cursor: pointer;
      }

    .property-name {
        color: white !important;

    }

    ul {
        margin: 0px !important;

        list-style: none  !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        clear: both !important;

        height: auto;
        max-height: 100%;
        overflow-y: scroll;

        li {
            margin: 0px !important;
            font-size: 11px !important;

        }
    }

    ul.closed {
        height: 0%;
    }

    li:not(.folder) {
        cursor: auto;
        height: $row-height;
        line-height: $row-height;
        padding: 0 4px 0 5px;
      }
    
      li.folder {
        padding: 0;
        border-left: none !important;
      }
    
      /** Folder names */
      li.title {
        cursor: pointer;
        margin-left: -$nest-margin;
        color: white !important;
        font-size: 11px;
        padding-left: 16px !important;
      }
    
      /** Hides closed items */
      .closed li:not(.title),
      .closed ul li,
      .closed ul li > * {
        height: 0;
        overflow: hidden;
        border: 0;
      }

      .button {
        @include button;
        border: none !important;
        background-color: transparent !important;
        &:hover {
            background-color: darken($button-color, 5%);
            box-shadow: 0 -1px 0 darken($button-color, 10%);
          }
      }
}